In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\developer\python39\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\developer\python39\lib\site-packages (from pandas) (1.21.0)
Requirement already satisfied: pytz>=2017.3 in c:\developer\python39\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\developer\python39\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\developer\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7

In [10]:
# 2021-07-19 질문
import os
import glob
import pandas as pd

all_books = glob.glob(os.path.join('C:\\sjlee\\python', 'score_*.xlsx'))
names=[]
cnt = 0
writer=pd.ExcelWriter('total.xlsx')

for book in all_books:
    all_sheets = pd.read_excel(book, sheet_name=None, index_col=None)
    print(os.path.basename(book))
    total=[]
    mean=[]
    for name,data in all_sheets.items():
        totals = 0
        means = 0
        if(cnt == 0):
            names.append(data['이름'])
            cnt += 1
        means = data.mean(axis=1).astype(int)
        totals = data.sum(axis=1)
        total.append(totals)
        mean.append(means)
        pd1 = pd.DataFrame([[names],[total],[mean]],index = ['이름','합계','평균'])
        pd2 = pd1.transpose()
        print(pd1)
        print(pd2)
        pd1.to_excel(writer)

print(pd1)

score_2011.xlsx
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                  이름  \
0  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...

                                                  합계  \
0  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...

                                                  평균
0  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                  이름  \
0  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...

                                                  합계  \
0  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...

                                                  평균
0  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
score_2012.xlsx
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                  이름  \
0  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...

                                                  합계  \
0  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...

                                                  평균
0  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                  이름  \
0  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...

                                                  합계  \
0  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...

                                                  평균
0  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...

C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = data.mean(axis=1).astype(int)
C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  totals = data.sum(axis=1)
C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = data.mean(axis=1).astype(int)
C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  totals = data.sum(axis=1)
C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = data.mean(axis=1).astype(int)
C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  totals = data.sum(axis=1)
C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:22: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = data.mean(axis=1).astype(int)
C:\Users\teacher\AppData\Local\Temp/ipykernel_11148/3856944132.py:23: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  totals = data.sum(axis=1)