- numpy module method - ndarray
    - np.array() : ndarray 생성
    - np.arange() : 범위를 지정하여 ndarray 생성
    - np.reshape() : 행렬을 지정해서 ndarray 생성
    - np.zeros((a,b)) : 초기 값을 0으로하는 a * b 의 ndarray생성
    
- numpy slicing
    - [a:b, c:d] : a부터 b까지(행), c부터 d까지(열) slicing
    
- numpy의 사칙연산 (differ from List[])
    - 각 요소 별로 연산 가능 [a,b]+[c,d] = [a+c, b+d]
    - 행렬 곱 연산 가능 : np.dot(array)
    - 단, 문자열일때 '+'는 문자열을 연결함.

In [28]:
import numpy as np

ar1 = np.array([1,2,3,4,5]) # 리스트를 사용
print(ar1,'\n',type(ar1))
print("="*80)

ar2 = np.array([[10,20,30],[40,50,60]])
print(ar2,'\n',type(ar2))
print("="*80)

ar3 = np.arange(1,11,2)
print(ar3,'\n',type(ar3))
ar3 = np.arange(1,11)
print(ar3,'\n',type(ar3))
print("="*80)

ar4 = ar3.reshape(2,5)
print(ar4,'\n',type(ar4))
print("="*80)
# reshape 시에는 행렬의 수와 데이터의 수가 맞아야 함.

ar5 = np.zeros((5,6))
print(ar5,'\n',type(ar5))
print("="*80)

ar5 = np.arange(0,30).reshape(5,6)
print(ar5,'\n',type(ar5))
ar6 = ar5[0:3, 1:4]
print(ar6,'\n',type(ar6))
print("="*80)

ar7 = np.dot(ar4,ar5)
print(ar7,'\n',type(ar7))

[1 2 3 4 5]
 <class 'numpy.ndarray'>
================================================================================
[[10 20 30]
 [40 50 60]]
 <class 'numpy.ndarray'>
================================================================================
[1 3 5 7 9]
 <class 'numpy.ndarray'>
[ 1  2  3  4  5  6  7  8  9 10]
 <class 'numpy.ndarray'>
================================================================================
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]
 <class 'numpy.ndarray'>
================================================================================
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
 <class 'numpy.ndarray'>
================================================================================
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]
 [24 25 26 27 28 29]]
 <class 'numpy.ndarray'>
[[ 1  2  3]
 [ 7  8  9]
 [13 14 15]]
 <class 'numpy.ndarray'>
================================================================================
[[240 255 270 285 300 315]
 [540 580 620 660 700 740]]
 <class 'numpy.ndarray'>

- pandas as pd 
    - pd.Series(data, index=[]) :  series 생성. 1차원 자료구조 (with (row)index)
    - Series는 Dictionary와 호환 가능. (Key: index)
    - pd.DataFrame(data, index=[], column=[]) : data frame 생성. 2차원 자료구조 (with (row)index) or df(DataFrame).index=[], df.column=[]  
- print 
    - df['column'] : 특정 column data를 추출
    - df.head() : 앞에서 5개의 행을 출력 
    - df.tail(n): 뒤에서 n개의 행을 출력                                                
- read & write
    - df.to_csv('name.csv', header='')
    - pd.read_csv('name.csv', encoding='utf-8', index_col=0)
- Indexing 
    - Se : se1[0](Index number) or se1['1반'](Index data)로 가능
    - DF : 
- Slicing 
    - Se : se1[2:4] (마지막 포함 x) or se1['2반':'4반'] (마지막 포함 o)

In [1]:
import pandas as pd

se1 = pd.Series([1,2,3,4,5]) # 리스트로 생성
print(se1)

se2 = pd.Series(['1반', '2반', '3반', '4반', '5반']) # data type : object
print(se2)

se3 = pd.Series(['김철수', '오영희', '이영수', '홍길동', '박영길'],index = se2)
print(se3)

print(se3[2:4]) # se3[4]는 포함하지 않음.
print(se3['2반':'4반'])
print("="*80)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1반
1    2반
2    3반
3    4반
4    5반
dtype: object
1반    김철수
2반    오영희
3반    이영수
4반    홍길동
5반    박영길
dtype: object
3반    이영수
4반    홍길동
dtype: object
2반    오영희
3반    이영수
4반    홍길동
dtype: object
================================================================================

In [4]:
#dictionary를 사용하여 Data Frame 만들기
dic1= {'1반':'김철수', '2반':'오영희', '3반':'이영수', '4반':'홍길동', '5반':'박영길'}
se = pd.Series(dic1)
print(se, type(se))
dic2 = {'A':1., 'B': '2021-05-06',
       'C':[1,2,3,4],
       'D':(5,6,7,8),
       'E':'kim',
       'F':'lee'}
df0 = pd.DataFrame(dic2)
print(df0)

1반    김철수
2반    오영희
3반    이영수
4반    홍길동
5반    박영길
dtype: object <class 'pandas.core.series.Series'>

In [7]:
# List를 사용하여 Data Frame 만들기
df1 = pd.DataFrame([[100,98,95],[98,97,100],[99,100,97]], index=['국어', '수학', '영어'],\
                    columns=['김영희','이영수','박철수'])
print(df1)
df1.head()
df1.tail(1)
print("="*80)

df1.to_csv('score.csv', header='False')
df2 = pd.read_csv('score.csv', encoding = 'utf-8', index_col=0)
print(df2)

     A           B  C  D    E    F
0  1.0  2021-05-06  1  5  kim  lee
1  1.0  2021-05-06  2  6  kim  lee
2  1.0  2021-05-06  3  7  kim  lee
3  1.0  2021-05-06  4  8  kim  lee
    김영희  이영수  박철수
국어  100   98   95
수학   98   97  100
영어   99  100   97
================================================================================
    김영희  이영수  박철수
국어  100   98   95
수학   98   97  100
영어   99  100   97