In [ ]:
!pip install pymysql

In [10]:
import pymysql

dbURL = "localhost"
dbPort = 3306
dbUser= "python"
dbPass = "12345678"

conn = pymysql.connect(host=dbURL, port=dbPort, user=dbUser, passwd=dbPass, db='test',\
                       charset='utf8', use_unicode=True)

In [17]:
# SELECT* FROM schema.table
sql = "SELECT*FROM test.test"
cur = conn.cursor()
cur.execute(sql)
result = cur.fetchall()
conn.commit()
print(result, type(result))

((1, 'Kim', 36, '1'), (2, 'Lee', 32, '0')) <class 'tuple'>

In [20]:
sql = "INSERT INTO test(name,age,enable) VALUES(%s, %s, %s);"
cur = conn.cursor()
cur.execute(sql,("Pack", "30", "1"))
conn.commit()