In [10]:
import os
import glob
import pandas as pd

all_books = glob.glob(os.path.join('C:\\kyj\\python', 'score_*.xlsx'))
names=[]
cnt = 0
writer=pd.ExcelWriter('total.xlsx')

for book in all_books:
    all_sheets = pd.read_excel(book, sheet_name=None, index_col=None)
    print(os.path.basename(book))
    total=[]
    mean=[]

    for name,data in all_sheets.items():
        totals = 0
        means = 0
        if(cnt == 0):
            names.append(data['이름'])
            cnt += 1
        means = data.mean(axis=1).astype(int)
        totals = data.sum(axis=1)
        total.append(totals)
        mean.append(means)
        pd1 = pd.DataFrame([[names],[total],[mean]],index = ['이름','합계','평균'])
        print(pd1)
        pd1.to_excel(writer)
print(pd1)

score_2011.xlsx
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
score_2012.xlsx
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...
                                                    0
이름  [[에스쿱스, 정한, 죠슈아, 준, 호시, 원우, 우지, 도겸, 민규, 디에잇, 승...
합계  [[460, 440, 480, 477, 444, 448, 449, 509, 453,...
평균  [[76, 73, 80, 79, 74, 74, 74, 84, 75, 83, 79, ...